In [4]:
import pandas as pd 
import numpy as np

biallelic_Dlabrax_maf=pd.read_csv(r"maf_LR537121.csv", header=1, sep=",")
biallelic_Dlabrax_maf

,chr,pos,index,ref_n,A,C,G,T,A.1,C.1,...,G.17,T.17,A.18,C.18,G.18,T.18,A.19,C.19,G.19,T.19
0,LR537121.1,10000758,109,A,69,73,0,0,81,56,...,0,0,28,32,0,0,24,37,0,0
1,LR537121.1,10000810,161,G,0,0,130,2,0,0,...,54,1,0,0,55,0,0,0,58,0
2,LR537121.1,10001732,414,T,0,0,0,97,0,0,...,0,70,0,0,1,58,0,0,4,53
3,LR537121.1,10002181,488,C,0,73,0,87,0,90,...,0,41,0,43,0,38,0,28,0,33
4,LR537121.1,10002197,504,A,149,0,0,16,148,0,...,0,0,85,0,0,0,64,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259453,LR537121.1,9999603,5234219,G,0,0,150,0,4,0,...,61,0,2,0,65,0,0,0,59,0
259454,LR537121.1,9999619,5234235,T,0,2,0,146,0,0,...,0,56,0,0,0,67,0,0,0,62
259455,LR537121.1,9999843,5234276,C,2,151,0,0,0,83,...,0,0,0,65,0,0,1,54,0,0
259456,LR537121.1,9999892,5234319,A,136,0,0,0,100,0,...,0,0,58,0,0,0,58,0,0,10
259457,LR537121.1,9999905,5234332,G,14,0,123,0,2,0,...,72,0,0,0,56,0,0,0,65,0

In [11]:
biallelic_Dlabrax_maf_filtered = biallelic_Dlabrax_maf.iloc[:, 4:8]
biallelic_Dlabrax_maf_filtered
# count the non zero values in each row
biallelic_Dlabrax_maf_filtered['non_zero'] = biallelic_Dlabrax_maf_filtered.astype(bool).sum(axis=1)

#sort them by the number of non zero values
biallelic_Dlabrax_maf_filtered.sort_values(by='non_zero', ascending=False, inplace=True)

# print them
biallelic_Dlabrax_maf_filtered

          A   C    G    T  non_zero
0        69  73    0    0         2
165027  124   0    0    5         2
165029   28  82    0    0         2
165032    0   2    0  102         2
165034    7   0  106    0         2
...     ...  ..  ...  ...       ...
60133     0   0    0  198         1
60134     0   0    0  217         1
187776    0   0  132    0         1
129729    0   0    0  143         1
130366    0   0    0    0         0

[259458 rows x 5 columns]

In [82]:
# prepare the .genotype file for the BayPass analysis

# ==============================

def BayPass_genotyping_file(infile, colnames):
    TOT_POS = range(len(infile))
    START_POS = range(3, 83, 4)
    RESULT_LIST = []
    for position in TOT_POS:
        if position%10000 == 0:
            print(position, end=" ")
        non_zero_indices = []
        for start in START_POS:
            non_zero_indices_temp = list(np.nonzero(list(infile.iloc[position, start:start+4]))[0])
            non_zero_indices.extend(non_zero_indices_temp)
        non_zero_indices = list(np.unique(non_zero_indices))
        result = []
        for start in START_POS:
            result.append(list(infile.iloc[position, start:start+4])[non_zero_indices[0]])
            result.append(list(infile.iloc[position, start:start+4])[non_zero_indices[1]])
        RESULT_LIST.append(result)
    return pd.DataFrame(RESULT_LIST, columns=colnames)
# explain what the code above does
# ==============================

column_names = ['fFRA_1_1', 'fFRA_1_2', 'fGRE_12_1', 'fGRE_12_2', 'wFRA_1_1', 'wFRA_1_2',
                'fSPA_3_1', 'fSPA_3_2', 'fSPA_2_1', 'fSPA_2_2', 'fGRE_10_1', 'fGRE_10_2',
                'wGRE_6_1', 'wGRE_6_2', 'fCRO_5_1', 'fCRO_5_2', 'fGRE_11_1', 'fGRE_11_2',
                'wITA_4_1', 'wITA_4_2', 'wGRE_7_1', 'wGRE_7_2', 'wTUR_9_1', 'wTUR_9_2',
                'fCRO_6_1', 'fCRO_6_2', 'fCYP_13_1', 'fCYP_13_2', 'fGRE_9_1', 'fGRE_9_2',
                'fGRE_8_1', 'fGRE_8_2', 'wSPA_2_1', 'wSPA_2_1', 'wCRO_5_1', 'wCRO_5_2',
                'fGRE_7_1', 'fGRE_7_2', 'wTUR_10_1', 'wTUR_10_2']


Dlabrax_maf_baypass = BayPass_genotyping_file(biallelic_Dlabrax_maf, column_names)

0 10000

In [83]:
Dlabrax_maf_baypass

,fFRA_1_1,fFRA_1_2,fGRE_12_1,fGRE_12_2,wFRA_1_1,wFRA_1_2,fSPA_3_1,fSPA_3_2,fSPA_2_1,fSPA_2_2,...,fGRE_8_1,fGRE_8_2,wSPA_2_1,wSPA_2_1,wCRO_5_1,wCRO_5_2,fGRE_7_1,fGRE_7_2,wTUR_10_1,wTUR_10_2
0,106,7,79,7,76,26,57,10,46,20,...,39,31,20,5,21,7,29,4,31,0
1,79,0,63,26,44,13,41,15,43,22,...,59,3,39,1,30,1,25,7,31,2
2,79,0,73,16,48,8,41,15,55,11,...,55,6,40,1,32,1,28,5,31,2
3,5,85,0,86,2,55,0,60,0,70,...,1,60,0,43,0,38,0,38,0,30
4,98,0,81,0,57,8,69,0,64,0,...,44,0,39,0,41,0,32,0,31,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15368,6,76,5,65,22,76,24,37,5,45,...,13,49,9,17,8,31,7,21,0,32
15369,47,30,13,55,43,41,18,42,27,35,...,17,25,5,22,14,21,13,14,14,20
15370,2,111,0,67,6,76,8,62,6,61,...,8,46,5,32,1,27,2,34,5,23
15371,112,0,61,4,73,1,61,1,63,2,...,62,0,47,2,30,1,39,2,27,0
15372,101,0,67,4,73,1,67,1,69,2,...,56,1,42,1,26,1,37,2,26,0

In [84]:
# the BayPass analysis
# save without header and index, with space separation
Dlabrax_maf_baypass.to_csv(r"CHROOSOME_NAME.genotype", sep=' ', index=False, header=False)

In [75]:
# ============== prepare the OTHER data files - inputs for the BayPass software ============== #

# the POOL (haploid) size file [require for Pool-Seq data]
# 2x the number of pooled individuals of each population

# covariate file - 0: farmed, 1: wild (-efile option - standard covariate model)

# contrast file - -1: farmed, 1: wild

# STANDARD COVARIATE MODEL with Importance Sampling approximation
# for the mac
./i_baypass -gfile ../seabass_47K_SNPs/47K_seabass_BayPass.genotype -efile ../seabass_47K_SNPs/47K_seabass_BayPass.covariate -contrastfile ../seabass_47K_SNPs/47K_seabass_BayPass.contrast -poolsizefile ../seabass_47K_SNPs/47K_seabass_BayPass.poolsize -outprefix 47K_seabass_run1 -nthreads 8 -nval 10000 -burnin 10000
# for the server (from inside the "MedFish/files/European_seabass/BayPass/baypass_2.3/sources" folder)
# for Dlabrax
./g_baypass -gfile ../seabass_Dlabrax_chromosome/labrax_Dlabrax_maf.genotype -efile ../seabass_Dlabrax_chromosome/labrax_Dlabrax_maf.covariate -contrastfile ../seabass_Dlabrax_chromosome/labrax_Dlabrax_maf.contrast -poolsizefile ../seabass_Dlabrax_chromosome/labrax_Dlabrax_maf.poolsize -outprefix labrax_Dlabrax_maf_baypass -nthreads 8 -nval 10000 -burnin 10000
# for vgll3
./g_baypass -gfile ../seabass_vgll3_chromosome/labrax_vgll3_maf.genotype -efile ../seabass_vgll3_chromosome/labrax_vgll3_maf.covariate -contrastfile ../seabass_vgll3_chromosome/labrax_vgll3_maf.contrast -poolsizefile ../seabass_vgll3_chromosome/labrax_vgll3_maf.poolsize -outprefix labrax_vgll3_maf_baypass -nthreads 8 -nval 10000 -burnin 10000

#     i) 20 pilot runs of  500 iterations (to adjust proposal distributions)
#    ii) a burn-in period of 10000 iterations
#   iii) final MCMC sampling of 10000 parameter values sampled every  20 iterations (i.e., 200000 iterations)

SyntaxError: invalid decimal literal (188991931.py, line 12)